.vs/*

Content/logsApp/*
Content/savesApp/*
Content/worksApp/*
Content/forbiddenFilesApp/*
Content/priorityApp/*
Content/cryptedFilesApp/*

!Content/worksApp/.gitkeep
!Content/savesApp/.gitkeep
!Content/logsApp/.gitkeep
!Content/forbiddenFilesApp/.gitkeep
!Content/priorityApp/.gitkeep
!Content/cryptedFilesApp/.gitkeep


EasySaveProject/Debug/*
EasySaveProject/Release/*